<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/head.twig' %}

    <title>oldsu!stream - Beatmap Packs</title>

    <link rel="stylesheet" type="text/css" href="static/beatmaps.css"/>

</head>
<body>
{% embed 'shared/layout.twig' %}
    {% block content %}
        {% for pack in packs %}
            <div class="pack_title">
                {{ pack.packname }}
            </div>
            {% for map in pack.beatmaps %}
                <a href="mapset/{{ map.beatmap_id }}">
                    <div class="pack_container" style="background-image: url('cdn/thumbnails/{{ map.beatmap_id }}'); ">
                        {{ map.metadata }}<br>
                        Created by {{ map.creator }}
                    </div>
                </a>
            {% endfor %}
            <a href="cdn/packs/{{ pack.packid }}">
                <div class="pack_download">
                    Download {{ pack.packname }}
                </div>
            </a>
        {% endfor %}
    {% endblock %}
{% endembed %}
</body>
</html>